* {
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1b4c;
}
a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins";
}

.content {
  width: 1110px;

  margin-right: auto;
  margin-left: auto;
}
/* header*/
header {
  background-color: #e6f0ff;
  height: 100vh;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar > ul {
  display: flex;
  margin-left: 50px;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 21px;
  /* identical to box height */
  color: #4f5361;
  padding: 14px 28px;
}

.navbar ul a:hover {
  text-decoration: underline;
}
.navbar .action-link {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 21px;
  /* identical to box height */

  color: var(--primary-color);
  margin-right: 18px;
}

.btn {
  width: 9.8rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  /* identical to box height */
  text-align: center;
  background: var(--primary-color);
  border-radius: 12px;
  color: #ffffff;
  padding: 18px 16px;
}

.btn:hover {
  opacity: 0.9;
}

.navbar .action-btn {
  padding: 13px 16px;
  border-radius: 8px;
}

.hero {
  margin-top: 13rem;
}

.hero .sub-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5rem;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #687691;
}

.hero .title {
  font-style: normal;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 7.6rem;
  /* or 119% */

  color: #000336;
  margin-top: 8px;
}

.hero .desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  /* or 178% */
  margin-top: 30px;
  color: #5a6473;
  margin: 10px 0;
}

.hero .info {
  width: 50%;
}

.hero-cta {
  display: inline-block;
  min-width: 170px;
  margin-top: 40px;
}

.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}

/* Clients */

.clients {
  margin-top: 122px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row p {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  color: #7d8589;
}

.row-img {
  margin-top: 100px;
}

.row-img {
  display: flex;
  justify-content: space-between;
}

/*Guides*/

.guides {
  margin-top: 200px;
}

.guides .sub-title {
  position: relative;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 3.5rem;
  /* or 100% */
  text-align: center;
  color: #000339;
}

.guides .sub-title::before {
  position: absolute;
  content: "";
  display: inline-block;

  top: -10px;
  left: 50%;

  width: 41px;
  height: 4px;
  background: #000339;
  border-radius: 12px;
  transform: translateX(-50%);
}

.guides .desc {
  margin: auto;
  width: 450px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  /* or 188% */
  text-align: center;
  color: #5a6473;
  margin-top: 20px;
}

.list-guide {
  margin-top: 62px;
  display: flex;
  justify-content: space-around;
}

.list-guide .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height, or 110% */
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  color: #3b3c45;
}

.guide-item a {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;
  color: #0689ff;
}

.guide-item {
  text-align: center;
}

.guide-cta {
  margin-top: 50px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;
  color: #ffffff;
}

/*Featured*/

.featured {
  margin-top: 230px;
  width: 100%;
  height: 727px;
  padding-top: 150px;

  background: #f5fafe;
}

.featured .sub-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  /* identical to box height, or 100% */

  color: #000339;
}

.featured .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  color: #5a6473;
}

.featured .row .link {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #0689ff;
}

.list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.featured .item .body {
  padding: 17px 20px 30px;
  background-color: white;
}

.item .title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 20px;
  /* identical to box height, or 100% */
  color: #000339;
}

.item .desc {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  /* identical to box height */
  line-height: 1.5;
  color: #a3a6ab;
  margin-top: 11px;
}

.item .label {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  letter-spacing: 0.01em;
  color: #4d4d52;
  margin-top: 20px;
  margin-right: 8px;
}

.item .info {
  margin-top: 20px;
}

.item .icon {
  margin-left: 20px;
}

.item .icon:first-child {
  margin-left: 0;
}

.stats {
  margin-top: 75px;
}

.stats .content {
  width: 1048px;
}

.stats .img-block,
.stats .info {
  width: 50%;
}
.stats .info {
  padding: 79px 165px;
}

.stats .img-block .image {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

.stats .sub-title {
  position: relative;
  width: 269px;
  font-weight: 600;
  font-size: 35px;
  line-height: 45px;
  /* or 129% */

  color: #000339;
}

.stats .info .desc {
  width: 309px;
  margin-top: 20px;
}

.stats .sub-title::before {
  content: "";
  position: absolute;
  top: -10px;
  display: block;
  width: 41px;
  height: 4px;
  background: #000339;
  border-radius: 12px;
}

.stats .img-block {
  position: relative;
}

.stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  width: 239px;
  border-radius: 0px 0px 12px 12px;
  padding: 45px 22px 40px;
  background-color: white;
}

.stats strong {
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  /* identical to box height, or 100% */

  letter-spacing: 0.01em;

  color: #000339;
}

.stats .stats-trend .desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  margin-top: 8px;
  color: #a7a7a7;
}

.separate {
  height: 1.2px;
  width: 100%;
  background-color: #000336;
  margin-top: 20px;
}

.stats .avatar-block {
  display: flex;
  margin-top: 26px;
  gap: 16px 14px;
}

.stats .avatar-group {
  display: flex;
}

.stats .avatar-group .avatar {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -3px;
}

.stats .qty-item {
  margin-top: 120px;
}

.stats .qty-item strong {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  /* identical to box height, or 100% */

  color: #000000;
}

.stats .qty-item .desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  color: #7b8087;
}

.subscription {
  margin-top: 90px;
}

.subscription .body {
  display: flex;
  align-items: center;
  height: 370px;
  background: #063183;
  border-radius: 20px;
  position: relative;
}

.subscription .info {
  padding: 0 80px;
}

.subscription .info .sub-title {
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  /* identical to box height, or 100% */

  color: #ffffff;
}

.subscription .info .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  margin-top: 15px;
  margin-bottom: 30px;
  color: #ffffff;

  opacity: 0.75;
}

.subscription .btn {
  min-width: 150px;
  background-color: white;
  color: #002366;
  margin-left: 10px;
}

.subscription .image {
  position: absolute;
  bottom: 0;
  right: 220px;
}

.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}

.footer .row-top {
  display: flex;
  gap: 185px;
}

.footer .row-top .list {
  display: flex;
  flex-direction: column;
}

.footer .row-top li {
  margin-top: 10px;
}

.footer .heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #1c1c1d;
}

.footer .row-top a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #7a7a7e;
}

.footer .row-top p {
  margin-top: 8px;
}

.social {
  margin-top: 48px;
}
.social .socil-link {
  margin-left: 27px;
}

.row-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.row-bottom .copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #c2c2c2;
}
